input, button {
  text-shadow: 2px 2px 3px rgba(112, 112, 112, 0.78);
}

html, body, #root, .page {
  min-height: 100%;
  min-width: 100%;
  text-shadow: 2px 2px 3px rgba(112, 112, 112, 0.78);
}

@media (max-width: 188px) {
  .main {
    height: calc(100% - 57px);
  }
}

.container {
  border: black 1px solid;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px;
}

.main {
  padding: 10px;
  height: calc(100% - 95px);
  width: 100%;
  overflow: hidden;
}