.movieListArea {
    margin-top: 10px;
    height: calc(100% - 39.6px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: -webkit-center;
    padding: 15px;
/*    display: flex;
    justify-content: center;
    align-items: center;*/
}
.movieList{
    margin: auto;
    columns: 4; /*:3;*/
    column-gap: 20px;
}

@media (max-width: 808px /*1100px*/) {
    .movieList {
        columns: 1; /*:2;*/
    }
}

@media (max-width: 700px) {
    .movieList{
        columns: 1;
    }
}

.showMore{
    border: 1px solid #b8b8b8;
    min-width: 200px;
    max-height: 450px;
    min-height: 188.8px;
    margin: 0 0 20px 0;
    display: flex;
    /*padding: 10px;*/
    background: #fff;
    break-inside: avoid;
    width: calc(100% - 10px);
    transition: 0.3s;
    overflow:hidden;
    border-radius: 10px;
    text-align: center;
    background-color: #6c757d;
    justify-content: center;
}

.showMore:hover{
    background-color: lightslategray;
}

.title{

    text-shadow: 0px 0px 10px black;
    background-color: #fff;
    color: white;
    font-size: 40px;
    margin: auto;
    display: flex;
    vertical-align: middle;
    background: transparent;
}

.showMore:hover{
    transition: 0.3s;
    background-color: #6A696C;
    border: 1px solid black;
}

.showMore div{
    margin: auto;
}