.movie-view{
    margin-top: 20px;
}

.imageView{
    height: 600px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    float: left;
}
.imageView:hover{
    transform: scale(1.1);
}

label:not(.descriptionLabel,.titleLabel){
    display: flex;
    font-size: 24px;
}

.descriptionField,.descriptionLabel,.trailerField{
    display: flex;
    width: 100%;
}

.movie-view label:not(.descriptionLabel){
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.titleLabel{
    height: auto;
    display: flex;
    font-weight: bold;
    font-size: 40px;
    width: auto;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-wrap;
    word-wrap: normal;
}
.yearField,.countryField,.durationField,.ratingField{
    display: flex;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
    white-space: nowrap;
    width: 175px;
}

.yearBlock,.countryBlock,.durationBlock,.ratingBlock{
    display: flex;
}

.descriptionField,.trailerField{
    font-size: 36px;
    font-weight: bold;
}
.descriptionLabel{
    font-size: 24px;
    text-align: justify;
}

.movie-view{
    width: calc(100% - 10px);
}

@media (max-width:1000px) {
    .movie-view{
        padding: 15px;
    }
}

@media (max-width:645px) {
    .imageView{
        float: none;
        margin: auto;
        display: flex;
    }
}

@media (max-width:430px) {
    .imageView{
        width: calc(100% - 10px);
        height: auto;
    }
}

@media (max-width:875) {
    .player{
        width: calc(100% - 20px);
        height: auto;

    }
}