#movie-redactor {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.movie-buttons {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
}

.movie-buttons > button {
    pointer-events: all;
    height: 48px;
    width: 100px;
    border: 1px gray solid;
    background: white;
    border-radius: 10px;
    z-index: 99;
}

@media (max-width:422px) {
    .imageSelector{
        float: none;
    }
    
}
span{
    margin: 5px;
}
.nameLabel,.yearLabel,.countryLabel,.durationlabel,.ratingLabel,.descriptionLabel,.linkLabel{
    min-width: 100px;
}

.year,.country,.duration,.rating,.link{
    display: flex;
}


.titleSet{
    margin-top: 10px;
    display: flex;
}

.description{
    float: none;
    width: calc(100% - 5px);
    display: block;
}
input[type='file'] {
    display: block;
}

textarea{
    width: 100%;
    max-height: 300px;
    min-height: 100px;

}

.imageSelector{
    float: left;
}

.imageblock{
    position: relative;
    display: block;
    width: 200px;
    height: 300px;
    border:1px black solid;
    border-radius: 5px;
    object-fit: fill;
    margin: 10px 10px 10px 0px;
}

.imageInput{
    width: 132px;
    position: relative;
    display: flex;
    margin: 10px 10px 10px 0px;
    overflow: hidden;
}

.emptyErrorTitle
{
    font-weight: bold;
    display: block;
    margin-left: 5px;
    position: relative;
    color: red;
    z-index: 1;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
.movie-submit{
    transition: 0.2s;
}
.movie-submit:hover{
    background: lightgreen;
}

.titleSet{
    padding-top: 15px;
}

@media (max-width:645px) {
    .imageSelector{
        float: none;
    }
    .imageInput,.imageblock{
        margin: auto;
        display: table;
    }
    .imageblock{
        margin: auto auto 10px auto;
    }
    .imageInput{
        width: 130px;
    }
    .year,.country,.duration,.rating,.titleSet,.link{
        margin: auto auto 10px auto;;
        display: table;
    }
    .description{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin: auto;
    }
    .movie-redactor{
        overflow: auto;
    }
}
@media (max-width:1000px) {
    .description{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin: auto;
    }
}

@media (max-width:312px) {
    .year,.country,.duration,.rating,.titleSet,.description,.link{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin: auto;
    }
    .movie-redactor label{
        width: 100%;
        text-align: center;
    }
}
