/*.home{*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    height: calc(100% - 20px);*/
/*    !*width: calc(100% - 16px);*!*/
/*}*/

.Home {
    height: 100%;
    width: 100%;
}

.articleListArea {
    margin-top: 10px;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: -webkit-center;
    padding: 15px;
}
