/*.home{*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    height: calc(100% - 20px);*/
/*    !*width: calc(100% - 16px);*!*/
/*}*/




.container{
    display: block;
    height: calc(100% - 77px);
    width: calc(100% - 200px);
    margin: 0 auto;
    max-width: none;
    padding: 0;
}

@media (max-width: 1000px) {
    .container{
        width: 100%;
    }
}

.Home {
    height: 100%;
    width: 100%;
    min-width: 760px;
}

.movieListArea {
    margin-top: 10px;
    height: calc(100%);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: -webkit-center;
    padding: 15px;
}
.spinner{
    margin: auto;
    margin-top: 240px;
    display: block;
}
