.funcybtn {
    font-size: 50px;
    position: absolute;
    margin-top: -40px;
}

@media (max-width: 310px) {
    .funcybtn{
        font-size: 25px;
        position: relative;
        margin: 0;
    }
}

img.LogoItemIcon {
    height: 4rem;
    width: 166px;
    border-radius: 10px;
    border: 1px solid #000000;
    top: -5px;
    position: relative;
}

.SearchBar {
    font-size: 20px;
    width: 250px;
    height: 3rem;
    top: 5px;
    position: relative;
}

.Search {
    margin-left: auto;
    display: block;
}

img.SearchItemIcon {
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    cursor: pointer;
}

img.menuItemIcon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: right;
    border: rgb(165, 165, 165) 2px solid;
    border-radius: 100px;
    object-fit: contain;
}

header {
    width: calc(100% - 200px);
    margin: auto;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width:1000px) {
    header {
        width: 100%;
    }
}